<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.touchfish.mm.dao.RoleMapper">
    <!--  根据用户userId查询角色信息  -->
    <select id="getRolesByUid" resultType="cn.touchfish.mm.pojo.Role">
        SELECT
            id,name,keyword,description
        FROM t_role
        WHERE id in(SELECT role_id FROM tr_user_role WHERE user_id=#{uid});
    </select>
</mapper>